<!--
  Generated template for the ContactsAllPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="tiffany">
    <ion-buttons left>
      <button ion-button icon-only (click)="viewCtrl.dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Контактные номера</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-list *ngIf="!preloader">
    <button ion-item text-wrap *ngFor="let item of contacts" (click)="onClick(item)">
      <ion-thumbnail item-start>
        <img-preload [img]="path+item.logo"></img-preload>
      </ion-thumbnail>
      <h2>{{item.title}}</h2>
    </button>
  </ion-list>

  <ion-spinner id="preloader" *ngIf="preloader"></ion-spinner>

</ion-content>
