<!--
  Generated template for the UserProductPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="tiffany">
    <ion-title>{{product?.title}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only [navPush]="searchPage">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content class="bg-img">

  <form [formGroup]="form" *ngIf="!preloader">

    <ion-card>
      <ion-card-content>
        <ion-list>

          <ion-item no-padding>
            <ion-label floating>Заголовок</ion-label>
            <ion-input type="text" formControlName="title"></ion-input>
          </ion-item>

          <ion-item no-padding>
            <ion-label floating>Описание</ion-label>
            <ion-textarea formControlName="text"></ion-textarea>
          </ion-item>

        </ion-list>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-list>
          <ion-item no-padding>
            <ion-label item-start text-wrap>
              Категория
            </ion-label>
            <ion-buttons item-end>
              <button ion-button icon-only small no-margin color="tiffany" (click)="showCategories()">
                <ion-icon slot="icon-only" name="create"></ion-icon>
              </button>
            </ion-buttons>
          </ion-item>
        </ion-list>
      </ion-card-header>
      <ion-card-content>
        {{breadcrumb}}
        <!--Женщинам > Одежда > Блузы и рубашки > Блузы > Блузы без рукавов-->
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="chars">
      <ion-card-header>
        Характеристики
      </ion-card-header>
      <ion-card-content>

      <ion-list *ngFor="let item of chars" class="border-bottom">
        <ion-item no-padding>
          <ion-label item-start no-margin>
            <span>{{item.title}}</span>
          </ion-label>
          <ion-buttons item-end>
            <button ion-button icon-only small color="tiffany" (click)="showChars(item)">
              <ion-icon slot="icon-only" name="create"></ion-icon>
            </button>
          </ion-buttons>
        </ion-item>

        <ion-item no-padding text-left text-wrap *ngIf="item.selected">
          <span>{{item.selected}}</span>
        </ion-item>
      </ion-list>

      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>

        <ion-list>
          <ion-item no-padding>
            <ion-label item-start text-wrap>
              Изображения
            </ion-label>
            <ion-buttons item-end>
              <button ion-button icon-only small no-margin color="tiffany" (click)="showCamera()">
                <ion-icon slot="icon-only" name="create"></ion-icon>
              </button>
            </ion-buttons>
          </ion-item>
        </ion-list>

      </ion-card-header>
      <ion-card-content>

        <img [src]="base64Image" alt=""/>

        <!--<ion-list>
          <ion-item-divider text-wrap no-padding>
            <ion-thumbnail item-start>
              <img src="https://avatarfiles.alphacoders.com/445/44578.jpg" alt=""/>
            </ion-thumbnail>
            <h2>89ag7as7g98as.jpg</h2>
          </ion-item-divider>
          <ion-item-divider text-wrap no-padding>
            <ion-thumbnail item-start>
              <img src="https://avatarfiles.alphacoders.com/445/44578.jpg" alt=""/>
            </ion-thumbnail>
            <h2>89ag7as7g98as.jpg</h2>
          </ion-item-divider>
        </ion-list>-->

      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content>
        <button type="button" ion-button full color="tiffany" [disabled]="form.invalid" (click)="save()">Сохранить</button>
      </ion-card-content>
    </ion-card>

  </form>

  <ion-spinner id="preloader" *ngIf="preloader"></ion-spinner>

</ion-content>
