<!--
  Generated template for the AlbumDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="tiffany">
    <ion-title>{{items?.album_title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="bg-grey bg-img">

  <ion-refresher (ionRefresh)="doRefresh($event)" *ngIf="!preloader">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-grid *ngIf="(items?.photo.length) && (!preloader)" id="photo">
    <ion-row>
      <ion-col col-4 col-md-3 col-lg-2 col-xl-1 *ngFor="let item of items.photo" no-padding>
        <ion-card (click)="onClick(item)">
          <ion-card-content no-padding>
            <ion-thumbnail>
              <img [src]="item.photo_604" (error)="errorImage($event)"/>
            </ion-thumbnail>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-spinner id="preloader" *ngIf="preloader"></ion-spinner>

</ion-content>
